*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    color:  #edf0f1;
}
/* Navbar Styling Starts Here */
.navbar
{
    background-color: firebrick;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


nav li,a,button
{
    background-color: firebrick;
    font-family: "Montserrat" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px 10%;
    margin-bottom: 250px;
}

.logo
{
    background-color: firebrick;
    padding-top: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.nav_links
{
    list-style: none;
}

.nav_links li
{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a
{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover
{
    color: #0088a9;
}

button
{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover
{
    background-color:rgba(0, 136, 169, 0.7) ;
}

.cta
{
    padding-right: 15px;
}
/* Navbar Styling Ends Here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
 
  
h1
{
    margin-top: 120px;
    text-align: center;
}
  
  main {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: firebrick;
    color: #fff;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
  }
  
  #result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }